{% load static %}
{% load i18n %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="django-brython">
    <meta name="author" content="django-brython">
    <title>django-brython</title>

    <script src="https://raw.githack.com/brython-dev/brython/master/www/src/brython.js"></script>
    <script src="https://raw.githack.com/brython-dev/brython/master/www/src/brython_stdlib.js"></script>

    <!-- script type="text/javascript" src="{% static 'django_brython/js/brython.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_brython/js/brython_stdlib.js' %}"></script -->

    <!-- script type="text/javascript" src="{% static 'frontend/js/frontend.brython.js' %}"></script -->

    <!-- script type="text/javascript" src="{% static 'frontend/js/frontend.brython.js' %}"></script -->

    {% block head %}{% endblock %}
  </head>
  <body onload="brython({debug: 1, pythonpath: ['/brython/']})">
    {% block content %}{% endblock %}
  </body>
</html>
